body {
	background-color: 	#ffffff; 
}

h1 {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	font-size: 30px;
	width: 20%;
	margin: 30px 75px 30px 75px;
	padding: 15px 30px 15px 30px; 
}

h2 {
	color: #4aaaa5;
	text-align: center;
	font-size: 30px;
	width: 20%;
	margin: 30px 75px 30px 75px;
	padding: 15px 30px 15px 30px; 
}

nav{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

footer {
  border-color: #4aaaa5;
  border-top: 10px;
  background-color: dimgray;
  float: center;
  font-size: 0.75em;
  clear: both;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;
}

#bio-image {
	float: left;
	width: 200px;
	margin-right: 20px;
}

#main-bio {
	float: left;
	width: 45%;
	margin: 0% 5% 0% 10%;
}

#connect {
	float: right;
	width: 45%;
	margin: 0% 5% 0% 10%;
}

.link-img {
	float: auto;
	width: 35px;
}
